Repository platter-labs/eslint-config-banana: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Add README.md
  README.md
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update version
  package.json
Due: prettier --write

v0.0.0
  package.json
Due: prettier --write

Add .eslintrc.js and set env.es6 to true
  .eslintrc.js
  index.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Ignore .eslintcache from git
  .gitignore
Due: none

v0.0.1-alpha.1
  package.json
Due: prettier --write

Add rule
  index.js
Due: eslint --cache --fix, prettier --write

v0.0.1-alpha.2
  package.json
Due: prettier --write

Add react
  index.js
  package.json
  react.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

v0.0.1-alpha.3
  package.json
Due: prettier --write

Remove react/style-props-object
  react.js
Due: eslint --cache --fix, prettier --write

Upgrade eslint-plugin-jest
  package.json
  yarn.lock
Due: prettier --write

v0.0.1-alpha.4
  package.json
Due: prettier --write

Updates
  index.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

v0.0.1-alpha.5
  package.json
Due: prettier --write

Update rules
  index.js
Due: eslint --cache --fix, prettier --write

v0.0.1-alpha.6
  package.json
Due: prettier --write

Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

v0.0.1-alpha.7
  package.json
Due: prettier --write

Delete rule
  index.js
Due: eslint --cache --fix, prettier --write

v0.0.1-alpha.8
  package.json
Due: prettier --write

Turn off no-empty
  index.js
Due: eslint --cache --fix, prettier --write

v0.0.1-alpha.9
  package.json
Due: prettier --write

BREAKING CHANGE: various updates
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  index.js
  package.json
  react.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

v0.0.1-alpha.10
  package.json
Due: prettier --write

chore: update lint staged config
  .lintstagedrc
  package.json
Due: prettier --write

chore: update dev dependencies
  package.json
  yarn.lock
Due: prettier --write

v0.0.1-alpha.11
  package.json
Due: prettier --write

chore: add dev dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: add cypress
  index.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.0
  package.json
Due: prettier --write

feat: update rules
  index.js
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.1
  package.json
Due: prettier --write

v1.0.0-alpha.2
  package.json
Due: prettier --write

chore: upgrade deps
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.3
  package.json
Due: prettier --write

feat: upgrade packages & add rules
  index.js
  package.json
  react.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

v1.0.0-alpha.4
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md,yml}
